body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header{
  background-color: #43af78;
  color: #ffffff;
  height: 100px;
  position: absolute;
  top: 0;
  width:100%;
}

section {
  position: absolute;
  top:100px;
  /* bottom: 100px; */
  width:100%;
  background-color: #DEE5E5;
  display: flex;
}

footer {
  background-color: #484C4C;
  color: #ffffff;
  height: 100px;
  position: absolute;
  bottom: 0;
  width:100%;
}

@media screen and (max-width: 600px) {
  .tea-items {
    width: 100%;
    background-color: #DB8016;
  }
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 1% 5%;
}

.tea-items {
  display: inline-block;
  width:25%;
  min-height: 200px;
  margin: 2px;
}

.card {
  display: inline-block;
  background-color: #ffffff;
  padding: 20px 45px;
  color: #8D510C;
  cursor: pointer;
  min-height: 200px;
  position: relative;
}

.btn {
  cursor: pointer;
  padding: 6px 16px;
  margin-top: 5px;
  height: 30px;
  border-radius: 5px;
  bottom: 0;
  display: inline;
}

.add {
  background-color: #ffffff;
  border: 1px solid lightgreen;
  color: green;
}

.remove {
  background-color: #ffffff;
  border: 1px solid red;
  color: red;
}

.remove-item {
  color: red;
  cursor: pointer;
}

.add:hover {
  background-color: lightgreen;
  color:#ffffff;
  transition: 200ms;
}

.my-cart {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: right;
  width:25%;
}
.my-cart ul {
  padding: 0;
}
.my-cart li {
  line-height: 2;
  list-style: none;
  display: block;
  border-bottom: 1px solid #DEE5E5;
  height: 30px;
  transition: 500ms;
}

.cart-footer {
  position: absolute;
  bottom: 0px;
}

.item-img {
  display: block;
  margin: auto;
}

.item-title {
  color: #949644;
  font-size: 16px;
  margin-bottom: 5px;
}


